


#nav-logo{

    color:rgb(163, 181, 196);
    margin: 0 auto;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 600 px;

}

.overlay {
    position: absolute;
    top: 20%;
}

.hero-container {
    position:relative;
    text-align: center;
    color: rgb(202, 228, 250);

}

.hero-hed {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6em;
    color:rgb(82, 83, 129);
    margin: 0 auto;


}

.hero-image {
    width:100%;
    text-align: center;
    align-items: center;

}

.overlay {
    position:absolute;
    top:20%;
    width: 100%;
    background-color: darkblue;
    opacity: .7;


}
#content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

}

h1{
    font-size: 50px;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight:bolder;
    color: rgb(68, 91, 133);
    
}

#story{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h2{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkblue;
    text-decoration: underline;
    font-weight: bold;

}

#caption-1{

    font-family: Helvetica, Arial, sans-serif;
    font-size: 8px;
}

#sza-1{
    width:fit-content;
    max-width: 1000px;
    min-width: 600px;
    margin: 0% auto;
    align-items:stretch;
    margin-top: 15px;
    margin-bottom: 15px;

}

PICTURE{
    width:fit-content;
    max-width: 1000px;
    min-width: 300px;
    margin: 0% auto;
    align-items:stretch;
    margin-top: 15px;
    margin-bottom: 15px;
   

}

#caption-2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8px;

}

#caption-3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8px;

}


PICTURE{
    width:fit-content;
    max-width: 1000px;
    min-width: 300px;
    margin: 0% auto;
    align-items:stretch;
    margin-bottom: 15px;
   object-position: right;

}


PICTURE{
    width:fit-content;
    max-width: 1000px;
    min-width: 300px;
    margin: 0% auto;
    align-items:stretch;
    margin-bottom: 15px;
   object-position: right;

}

#caption-4{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8px;

}

#byline{

    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    }


#my-links{

    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    color:cornflowerblue
}

#related-items{

    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    color:darkslateblue;
    text-align: center;
    text-decoration: underline;
}


blockquote{
    font-size: 20px;
    font-weight: bold;
    color:darkslateblue;
    text-align: center;


}

#credit-for-masthead{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4px;


}
/*I know i repeated the same ID tag like 8 times when I could've just used a class tag, but i keep messing up when i try to do that in assignments*/

