

#name{
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;

}

#header{
    width:fit-content;
    max-width: 1000px;
    min-width: 600px;
    margin: 0% auto;
    align-items:stretch;
    margin-top: 15px;
    margin-bottom: 15px;

}

#sectionheader{

    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;

    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;

}

#name{

    border-bottom: 1px color= #33485e;
    width: 60%; min-width: 300px;
    margin: 0 auto= center;
}

#organization{

    font-size: 1.5em;

}

.jobtitle {

    font-size: 1.5em;
    font-weight: 1500px;
    text-decoration: underline ;
}

.date{

    font-weight: 400px;
    font-style: italic;
    font-size: 1em;

}

.description {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align:left;

}

.menu {

    margin: 0;
    padding: 0;
    text-align: left;
    display: inline;
}

.degrees {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.do {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}


.title {
    margin-top: 20px; 
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 600;
    text-align: center; 
}


.container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 20px; 
    margin-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
    font-weight: 600; 
    text-align: center; 
}

.skill{

    font-size: 1.5em;
    font-weight: 600px;
}


#resume{

    align-items: center;
    text-align: center;
}

#icons{

    width: 25px;
    height:auto;
}