
#content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif
    font-size: 13px;
}

h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}